.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.users-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.userTile {
  height: 5em;
  width:5em;
  border: 3px solid black;
  margin:2em;
}

.newUserButton {
  font-size: 1em;
  cursor: pointer;
  margin: 2em;
  background: green;
  height: 5em;
  width:5em;
  color:white;
}

.deleteUserButton {
  visibility: hidden;
  float:right;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
  color: red;
}

.userTile:hover .deleteUserButton {
  visibility: visible;
}
