.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.App-header {
  width: 100%;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

/*****UsersContainer*****/

.homeContainer {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.usernamesContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 5em;
}
.userTile {
  height: 3em;
  width:6em;
  border-radius: 10%;
  background-color: lightblue;
  margin:1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newUserButton {
  font-size: 1em;
  cursor: pointer;
  margin: 1em;
  background: black;
  border-radius: 10%;
  height: 4em;
  width:4em;
  color:white;
}
.deleteButton {
  visibility: hidden;
  float:right;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
  color: red;
}
.userTile:hover .deleteButton {
  visibility: visible;
}

.scoresContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  padding: 2em;
}

.scoringFormList {
  width: 60%;
}

.userScoresList {
  width: 100%;
  display: flex;
  margin: .2em;
  padding: .2em;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.scoreForm {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

input, select, button {
  font-size: 14px;
}

.score {
  width: 10%;
}
.course {
  width: 80%;
}

button {
  font-weight: bold;
  border-radius: 10%;
  background-color: purple;
  color: white;
  padding: 6px;
  cursor: pointer;
}

/*****CoursesContainer******/

.coursesContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.courseTile {
  min-height: 8em;
  width:12em;
  margin: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10%;
  background-color: lightpink;
  color: black;
}

.addCourseButton {
  font-size: 1em;
  cursor: pointer;
  margin: 2em;
  background: black;
  height: 10em;
  width:10em;
  color:white;
  border-radius: 10%;
}
.courseTile:hover .deleteButton {
  visibility: visible;
}
