.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

/*****UsersContainer*****/

.homeContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.usernamesContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 5em;
}
.userTile {
  height: 6em;
  width:6em;
  border: 3px solid black;
  margin:2em;
}
.currentUserTile {
  height: 6em;
  width:6em;
  border: 3px solid green;
  margin:2em;
}
.newUserButton {
  font-size: 1em;
  cursor: pointer;
  margin: 2em;
  background: green;
  height: 6em;
  width:6em;
  color:white;
}
.deleteButton {
  visibility: hidden;
  float:right;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
  color: red;
}
.userTile:hover .deleteButton {
  visibility: visible;
}

.scoresContainer {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
}

.roundContainer {
  width: 60%;
  display: flex;
  justify-content: space-around;
  margin: .3em;
  background-color: black;
  color: white;
}

/*****CoursesContainer******/

.coursesContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.courseTile {
  border:3px solid black;
  height: 8em;
  width:8em;
  margin: 2em;
}
.addCourseButton {
  font-size: 1em;
  cursor: pointer;
  margin: 2em;
  background: green;
  height: 8em;
  width:8em;
  color:white;
}
.courseTile:hover .deleteButton {
  visibility: visible;
}
